$primary: rgb(0, 71, 186);
$text-base: rgb(100, 100, 100);
$title: black;
$error-light: rgb(255, 88, 88);
$error: rgb(255, 62, 62);
$success: rgb(71, 224, 71);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  text-decoration: none;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  background: #f3f3f3;
}

img::selection {
  background: none;
}

@mixin link-btn {
  background: $primary;
  padding: 0;
  font-size: 1rem;

  a {
    padding: 0.8rem 2rem;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
