.question-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .question-container {
    width: 100%;
    height: 60%;
    margin: 5vh auto 0;
    position: relative;
    max-width: 900px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .question-number {
      font-size: 3rem;
      color: $primary;
      position: absolute;
      top: -3rem;
      left: 1rem;
    }

    h2 {
      font-size: 2rem;
      color: $title;
    }

    p {
      color: $text-base;
      font-size: 1.25rem;
    }

    .answers {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      height: 7rem;
      width: 60rem;

      button {
        background: $primary;
        width: 45%;
        height: 50%;
        margin: 0.1rem;

        &.correct {
          background-color: $success;
          color: white;
        }

        &.incorrect {
          background-color: $error;
          color: white;
        }
      }
    }

    .next-btn {
      @include link-btn;

      &:disabled {
        color: rgba(0, 0, 0, 0.26);
        background-color: rgba(0, 0, 0, 0.12);
      }
    }
  }
}
