.game-buttons {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  button {
    height: 4rem;
    width: 10rem;
    @include link-btn;

    &.cancel {
      background: rgb(145, 145, 145);

      &:hover {
        background: $error-light;
      }
    }
  }
}
